backend/_build/
backend/lambda.zip
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
frontend/node_modules/
frontend/dist/
terraform/tfplan
